/* Used to add styling in app.js */
body {
    background-color: #E5E1D5;
    font-family: 'Roboto', sans-serif;
}

.box {
    margin-top: 5px !important;
    width: 400px;
    background-color: white;
    margin: auto;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.box ul {
    list-style: none;
    padding: 0;
}

.inp {
    background-color: rgba(228, 224, 224, 0.342) !important;
}